.main-footer{
    &{
        height: 2.5rem;
        background: #ffffff;
        color: #afafaf;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8em;
    }
}