::-webkit-scrollbar {
    width: 8px;
    background-color: hsla(0,0%,96%,.4);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(85,85,85,.6);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 0;
    background-color: #f5f5f5;
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  

body{
    background-color: #ffffff;
    color: map-get($colors, black);
    font-family: $main-font;
    overflow-x: hidden;
    font-size: 16px;


    @media #{$min-tablet} {
        font-size: 18px;
    }

    @media screen and (min-width: 1160px) {
        font-size: 20px;
    }
    
}

ul{
    list-style-type: none;
}